#Protecting the .htaccess file
<Files ~"^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

#Prevent directory browsing
Options All -Indexes


#Protecting the config.php file
<files config.php>
   order allow,deny
   deny from all
</files>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]